
.ing{
width: 200px;
height: 50px;
background-color: white;
display: flex;
align-items: center;
justify-content: flex-start;
gap: 77px;
}
.ing p{
    width: 60px;
    margin-left: 19px;
    text-align: start;
    font-size: 14px;
}
.ingrdnts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    width: 420px;
    margin-bottom: 77px;
}
.pantry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}