@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");
@keyframes fade_in{
  from{
    opacity: .1;
  }
  to{
    opacity: 1;
  }
}
@keyframes fade_in_navbar{
  from{
    opacity: .1;
  }
  to{
    opacity: 1;
  }
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
  /* background-color: #F4F6ED; */
  /* background: linear-gradient(to bottom, #f4f6ed, #ffffff); */
  /* max-width: 100vw; */
}
button {
  font-family: "Quicksand", sans-serif;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */
input {
  background: rgba(255, 145, 77, 0.58);
  width: 310px;
  height: 78px;
  text-align: center;
  border: none;
  font-family: "Quicksand", sans-serif;
}
::placeholder {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
}
input:focus {
  outline: none;
}
p {
  margin: 0;
}
.App {
  background: linear-gradient(to bottom, #f4f6ed, #ffffff);
  font-family: "Quicksand", sans-serif;
}
.btn-exit {
  background-color: transparent;
  border: none;
}

.link-selected {
  text-decoration: underline;
}
.menu {
  visibility: hidden;
}
.navbar {
  height: 150px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* background-color: #fab387; */
  background: rgba(255, 145, 77, 0.58);
  animation: fade_in_navbar 2s 1;
}
.navbar .logo {
  width: 257px;
  position: absolute;
  left: 88px;
  top: 19px;
}
.navbar .line-grn-l {
  width: 141px;
  height: 10px;
  transform: rotate(45deg);
  position: absolute;
  left: 85vw;
  top: 0;
  background-color: rgba(148, 227, 20, 0.58);
}
.navbar .line-grn-s {
  width: 82px;
  height: 10px;
  transform: rotate(45deg);
  position: absolute;
  left: 90vw;
  top: 0px;
  background-color: rgba(148, 227, 20, 0.58);
}
.navbar .line-grn {
  width: 131px;
  height: 10px;
  transform: rotate(-45deg);
  position: absolute;
  left: 94vw;
  top: 30px;
  background-color: rgba(148, 227, 20, 0.58);
}
.navbar .nav-links {
  margin-bottom: 25px;
  margin-right: 230px;
}
.navbar-home {
  /* position: absolute;
  left: 0;
  top: 0; */
  height: 226px;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #f4f6ed;
}
.navbar-home .logo {
  width: 284px;
  position: absolute;
  left: 110px;
  top: 100px;
}
.navbar-home .line-grn-l {
  width: 138px;
  height: 30px;
  transform: rotate(45deg);
  position: absolute;
  left: 94vw;
  top: 57px;
  background-color: rgba(148, 227, 20, 0.58);
}
.navbar-home .line-grn-s {
  width: 110px;
  height: 30px;
  transform: rotate(45deg);
  position: absolute;
  left: 94vw;
  top: 155px;
  background-color: rgba(148, 227, 20, 0.58);
}
.navbar-home .line-orng-l {
  width: 190px;
  height: 10px;
  transform: rotate(45deg);
  position: absolute;
  left: 400px;
  top: 0;
  background-color: rgba(255, 145, 77, 0.58);
}
.navbar-home .line-orng-s {
  width: 113px;
  height: 10px;
  transform: rotate(45deg);
  position: absolute;
  left: 355px;
  top: 0;
  background-color: rgba(255, 145, 77, 0.58);
}
.nav-links {
  margin-right: 142px;
  display: flex;
  align-items: flex-end;
  gap: 52px;
}
.not-found{
  margin-top: 150px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-found h3{
  color: #94e314;
  cursor: pointer;
}
.not-found h1{
  color: #ff914d;
}
.prof-icon {
  margin-bottom: -10px;
  width: 30px;
}
.blogs, .chosen-div, .home, .recepies, .login-reg-div, .pantry, .profile, .user-rec, .navbar-home{
  animation: fade_in 2s 1;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 150px;
}
.title h1 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  color: #596f35;
  font-size: 72px;
  font-weight: 700;
  width: 1028px;
}
.title img {
  width: 257px;
  margin-left: 25px;
}
.title p {
  width: 644px;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
}
.search-field {
  width: 464px;
  height: 78px;
  display: flex;
  align-items: center;
  margin-top: 92px;
  margin-bottom: 115px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .App {
    width: 100vw;
  }
  .navbar .logo {
    width: 170px;
    left: 50px;
    top: 55px;
  }
  .navbar .line-grn-l {
    left: 75vw;
  }
  .navbar .line-grn-s {
    left: 85vw;
  }
  .navbar .line-grn {
    left: 90vw;
    top: 50px;
  }
  .navbar .nav-links {
    margin-right: 150px;
  }
  .navbar-home {
    height: 150px;
  }
  .navbar-home .logo {
    width: 180px;
    left: 50px;
    top: 80px;
  }
  .navbar-home .line-grn-l {
    width: 118px;
    height: 20px;
  }
  .navbar-home .line-grn-s {
    width: 90px;
    height: 20px;
    top: 130px;
  }
  .navbar-home .line-orng-l {
    left: 180px;
  }
  .navbar-home .line-orng-s {
    left: 155px;
  }
  .nav-links {
    margin-right: 110px;
    gap: 40px;
  }
  .prof-icon {
    margin-bottom: -10px;
    width: 30px;
  }
  .title {
    margin-top: 150px;
  }
  .title h1 {
    font-size: 64px;
    width: 800px;
  }
  .title p {
    width: 600px;
    font-size: 28px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  input {
    height: 50px;
  }

  .navbar .logo {
    width: 150px;
    left: 50px;
    top: 65px;
  }
  .navbar .line-grn-l {
    left: 75vw;
  }
  .navbar .line-grn-s {
    left: 85vw;
  }
  .navbar .line-grn {
    left: 90vw;
    top: 50px;
    width: 100px;
  }
  .navbar .nav-links {
    margin-right: 70px;
  }
  .navbar-home {
    height: 150px;
  }
  .navbar-home .logo {
    width: 150px;
    left: 30px;
    top: 90px;
  }
  .navbar-home .line-grn-l {
    width: 118px;
    height: 20px;
    left: 88vw;
  }
  .navbar-home .line-grn-s {
    width: 90px;
    height: 20px;
    top: 150px;
    left: 90.5vw;
  }
  .navbar-home .line-orng-l {
    left: 110px;
  }
  .navbar-home .line-orng-s {
    left: 85px;
  }
  .nav-links {
    margin-right: 110px;
    gap: 30px;
  }

  .prof-icon {
    margin-bottom: -10px;
    width: 30px;
  }
  .title {
    margin-top: 150px;
  }
  .title img {
    width: 190px;
  }
  .title h1 {
    font-size: 48px;
    width: 500px;
  }
  .title p {
    width: 400px;
    font-size: 24px;
  }
  .search-field {
    width: 350px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  h1{
    max-width: 550px;
  }
  input {
    height: 50px;
  }
  .menu {
    visibility: visible;
    position: absolute;
    top: 60px;
    left: 80vw;
    font-size: 24px;
    text-decoration: underline;
    color: #ff914d;
    font-weight: 700;
  }
  .mob-nav-hidden {
    visibility: hidden;
  }
  .mob-nav-shown {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #f4f6ed, #ffffff);
    position: fixed;
    top: 130px;
    left: 0;
    z-index: 3;
  }
  .navbar {
    height: 130px;
  }
  .navbar .logo {
    width: 150px;
    left: 30px;
    top: 30px;
  }
  .navbar .line-grn-l {
    display: none;
  }
  .navbar .line-grn-s {
    display: none;
  }
  .navbar .line-grn {
    display: none;
  }
  .navbar .nav-links {
    margin-right: 0;
  }
  .navbar-home {
    height: 130px;
  }
  .navbar-home .logo {
    width: 150px;
    left: 30px;
    top: 30px;
  }
  .navbar-home .line-grn-l {
    display: none;
  }
  .navbar-home .line-grn-s {
    display: none;
  }
  .navbar-home .line-orng-l {
    display: none;
  }
  .navbar-home .line-orng-s {
    display: none;
  }
  .nav-links {
    margin-right: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
  }
  .nav-links a {
    font-size: 36px;
    color: #94e314;
  }
  .link-selected {
    color: #ff914d;
  }
  .prof-icon {
    margin-bottom: -10px;
    width: 30px;
  }
 
  .title {
    margin-top: 150px;
  }
  .title img {
    width: 190px;
  }
  .title h1 {
    font-size: 48px;
    width: 500px;
  }
  .title p {
    width: 400px;
    font-size: 24px;
  }
  .search-field {
    width: 350px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
  h1{
    max-width: 290px;
    font-size: 18px;
  }
  input {
    height: 40px;
  }
  ::placeholder{
    font-size: 12px;
  }
  .menu {
    visibility: visible;
    position: absolute;
    top: 40px;
    left: 80vw;
    font-size: 24px;
    text-decoration: underline;
    color: #ff914d;
    font-weight: 700;
  }
  .mob-nav-hidden {
    visibility: hidden;
  }
  .mob-nav-shown {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #f4f6ed, #ffffff);
    position: fixed;
    top: 90px;
    left: 0;
    z-index: 3;
  }
  .navbar {
    height: 90px;
  }
  .navbar .logo {
    width: 100px;
    left: 30px;
    top: 30px;
  }
  .navbar .line-grn-l {
    display: none;
  }
  .navbar .line-grn-s {
    display: none;
  }
  .navbar .line-grn {
    display: none;
  }
  .navbar .nav-links {
    margin-right: 0;
  }
  .navbar-home {
    height: 90px;
  }
  .navbar-home .logo {
    width: 100px;
    left: 20px;
    top: 30px;
  }
  .navbar-home .line-grn-l {
    display: none;
  }
  .navbar-home .line-grn-s {
    display: none;
  }
  .navbar-home .line-orng-l {
    display: none;
  }
  .navbar-home .line-orng-s {
    display: none;
  }
  .nav-links {
    margin-right: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
  }
  .nav-links a {
    font-size: 36px;
    color: #94e314;
  }
  .link-selected {
    color: #ff914d;
  }
  .prof-icon {
    margin-bottom: -10px;
    width: 30px;
  }
  .title {
    margin-top: 100px;
  }
  .title img {
    width: 100px;
    margin-left: 10px;
  }
  .title h1 {
    font-size: 24px;
    width: 290px;
  }
  .title p {
    width: 290px;
    font-size: 18px;
  }
  .search-field {
    width: 250px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
